.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    align-self: center;

    .title{
        text-align: center;
    }

    .formContainer{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 30vw;
        min-width: 300px;
        max-width: 400px;
        padding: 30px;
        border-radius: 10px;
        margin: auto;
        align-self: center;
    }
}
