.container {
    padding-top: 30px;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    transition: background-color  0.8s ease-in-out;
    overflow-x: auto;

    @media(max-width: 900px) {
        flex-direction: column;
    }
}